<div>
    <table>
        <tr>
            <td data-dojo-attach-point="expandClickNode" class="hardcider-layer-expand">
                <i data-dojo-attach-point="expandNode" class="fa fa-folder-o hardcider-layer-icon hardcider-layer-icon-expand"></i>
            </td>
            <td class="hardcider-layer-checkbox">
                <input data-dojo-attach-point="checkboxNode" />
            </td>
            <td data-dojo-attach-point="labelNode" class="hardcider-layer-label"></td>
        </tr>
    </table>
    <div data-dojo-attach-point="sublayerNode" class="hardcider-layer-indent hardcider-layer-none"></div>
</div>