<div data-dojo-attach-point="controlNode" class="hardcider-layer">
    <table class="hardcider-layer-controls">
        <tr>
            <td data-dojo-attach-point="expandClickNode" class="hardcider-layer-expand">
                <i data-dojo-attach-point="expandNode" class="fa fa-plus-square-o hardcider-layer-icon hardcider-layer-icon-expand"></i>
            </td>
            <td class="hardcider-layer-checkbox">
                <input data-dojo-attach-point="checkboxNode" />
            </td>
            <td data-dojo-attach-point="labelNode" class="hardcider-layer-label hardcider-click"></td>
            <td class="hardcider-layer-update">
                <i data-dojo-attach-point="layerUpdateNode" class="fa fa-refresh fa-spin hardcider-layer-icon hardcider-layer-none"></i>
            </td>
        </tr>
    </table>
    <div data-dojo-attach-point="sublayerNode" class="hardcider-layer-indent hardcider-layer-none"></div>
</div>