<div class="hardcider-add-layer">
    <table>
        <tr>
            <td>
                Add an ArcGIS service layer to the map.
            <td>
        </tr>
        <tr>
            <td>
                Service URL
            <td>
        </tr>
        <tr>
            <td>
                <input data-dojo-attach-point="urlNode" data-dojo-type="dijit/form/TextBox" style="width:100%;">
            <td>
        </tr>
        <tr>
            <td>
                Layer Name
            <td>
        </tr>
        <tr>
            <td>
                <input data-dojo-attach-point="nameNode" data-dojo-type="dijit/form/TextBox" style="width:100%;">
            <td>
        </tr>
        <tr>
            <td>
                <span data-dojo-attach-event="click: addLayer" class="hardcider-click">Add Layer</span>
            <td>
        </tr>
        <tr>
            <td data-dojo-attach-point="infoNode"><td>
        </tr>
    </table>
</div>
