<div class="hardcider-print">
    <table>
        <tr>
            <td>
                Layout
            <td>
        </tr>
        <tr>
            <td>
                <select data-dojo-attach-point="layoutNode" data-dojo-type="dijit/form/Select"></select>
            <td>
        </tr>
        <tr>
            <td>
                Map Title
            <td>
        </tr>
        <tr>
            <td>
                <input data-dojo-attach-point="mapTitleNode" data-dojo-type="dijit/form/TextBox">
            <td>
        </tr>
        <tr>
            <td>
                Map Notes
            <td>
        </tr>
        <tr>
            <td>
                <textarea data-dojo-attach-point="mapNotesNode" data-dojo-type="dijit/form/Textarea"></textarea>
            <td>
        </tr>
        <tr data-dojo-attach-point="printNode">
            <td>
                <span data-dojo-attach-event="click: print" class="hardcider-click">Print Map</span>
            <td>
        </tr>
        <tr data-dojo-attach-point="printingNode" class="hardcider-display-none">
            <td>
                <i class="fa fa-spinner fa-spin"></i> Printing...
            <td>
        </tr>
        <tr>
            <td class="hardcider-muted-text">
                Be sure to save your map(s) as the files will only be on the server temporarily. Do not bookmark or send links the map.
            <td>
        </tr>
        <tr>
            <td>
                Printed Maps
            <td>
        </tr>
        <tr>
            <td data-dojo-attach-point="resultsNode"><td>
        </tr>
    </table>
</div>
